
#title{
  background-color: #FF4C68;
  color: white;
}

body{
  font-family: 'Montserrat';

}

h1{
  font-family: 'Montserrat';
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;

}

h2{
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: 'Montserrat';
  font-weight: 900;
}

.container-fluid{
  padding: 3% 15% 7%;
}


.navbar{
  padding: 0 0 4.5rem 0;
  
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 100;
}

/* Dbutton */
.download-button{
  margin:5% 3% 5% 0;
}

/* titleimage */
.iphone{
  width: 45%;
  height: auto;
  transform: rotate(25deg);
  position: absolute;
  top: -35px;
  right : 30%;

}

/* section2 */
#features{
  text-align: center;
  line-height: 2;
  padding: 7% 13%;
  background-color: white;
  position: relative;
}

.feat{
  font-family: 'Montserrat';
  font-weight:bold;
  font-size: 1.5rem;
  margin-top: 20px;
}

.featp{
  color: #8f8f8f;
}

.feati{
  color: #ef8172;
}

.feati:hover{
  color: #FF4C68;
}

/* testimonial */
#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.doggo{
  width:15%;
  border-radius: 100%;
  margin: 35px;
}

.carousel-item{
  padding: 7% 13%;
}
/* press */

#press{
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3rem;
}


.news{
  padding: 10px;
  width: 15%;
  height: auto;
}

/* pricing */
#pricing{
  padding: 7% 13%;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

/* cta */
#cta{
  text-align: center;
  background-color: #FF4C68;
  padding: 5% 15%;
}

.ctatitle{
  color: #fff;
  margin-bottom: 50px;
  font-family: 'Montserrat';
  font-weight: 900;
}

/* footer */
#footer{
  text-align: center;
  padding: 7% 15%;
  line-height: 2;
}

.footi{
  padding: 10px;
}
.footerp{
  color: #8f8f8f;
}

@media (max-width: 1280px){
  .iphone{
    width: 45%;
    height: auto;
    position: static;
    padding-top: 10%;
    transform: rotate(0deg);
  }

  #title{
    text-align: center;

  }

}
